# ==========================================
# Go Ingestor Service — Environment Configuration
# (Sync & Replay Streaming Engine)
# PUBG Anti-Cheat Data Platform
# ==========================================

# Cấu hình Kafka Message Broker & Topics
KAFKA_BROKERS=kafka:9092
KAFKA_RAW_TOPIC=pubg.v1.kill-event.raw
KAFKA_INVALID_TOPIC=pubg.v1.invalid

# Cấu hình MinIO S3 Object Storage
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=fps-anticheat-datalake

# Cấu hình Dataset nguồn Kaggle PUBG
KAGGLE_DATASET_SLUG=skihikingkevin/pubg-match-deaths
KAGGLE_SELECTED_FILE=kill_match_stats_final_0.csv
